<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Base</title>
  <script type="text/javascript" src="/javascripts/adapter/ext/ext-base-debug.js"></script>
  <script type="text/javascript" src="/javascripts/ext-all-debug.js"></script>
  <script type="text/javascript" src="<%= javascript_path "overrides" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "tarif_calculations" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "ports" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "dicts" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "vessels" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "ext_scaffold/ice_class" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "tarif" %>"></script>
  <script type="text/javascript" src="<%= javascript_path "app" %>"></script>


  <%= stylesheet_link_tag    "silk", "/stylesheets/silk.css" %>
  <link rel="stylesheet" type="text/css" href="<%= stylesheet_path "ext-all" %>"/>
</head>
<body>
<script>
    Ext.onReady(function() {
        
        App.start();

    });

</script>
<div id="main"></div>
</body>
</html>
