<h1>New vessel</h1>

<% form_for(@vessel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :flag %><br />
    <%= f.text_field :flag %>
  </p>
  <p>
    <%= f.label :vesel_type %><br />
    <%= f.text_field :vesel_type %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :loa %><br />
    <%= f.text_field :loa %>
  </p>
  <p>
    <%= f.label :vessel_length %><br />
    <%= f.text_field :vessel_length %>
  </p>
  <p>
    <%= f.label :beam %><br />
    <%= f.text_field :beam %>
  </p>
  <p>
    <%= f.label :dw %><br />
    <%= f.text_field :dw %>
  </p>
  <p>
    <%= f.label :draft %><br />
    <%= f.text_field :draft %>
  </p>
  <p>
    <%= f.label :gross_tonnage %><br />
    <%= f.text_field :gross_tonnage %>
  </p>
  <p>
    <%= f.label :net_tonnage %><br />
    <%= f.text_field :net_tonnage %>
  </p>
  <p>
    <%= f.label :cap1 %><br />
    <%= f.text_field :cap1 %>
  </p>
  <p>
    <%= f.label :paxcap %><br />
    <%= f.text_field :paxcap %>
  </p>
  <p>
    <%= f.label :ice_class %><br />
    <%= f.text_field :ice_class %>
  </p>
  <p>
    <%= f.label :calls %><br />
    <%= f.text_field :calls %>
  </p>
  <p>
    <%= f.label :contact_info %><br />
    <%= f.text_field :contact_info %>
  </p>
  <p>
    <%= f.label :max_draft %><br />
    <%= f.text_field :max_draft %>
  </p>
  <p>
    <%= f.label :safety_cert_date %><br />
    <%= f.date_select :safety_cert_date %>
  </p>
  <p>
    <%= f.label :construction_cert_date %><br />
    <%= f.date_select :construction_cert_date %>
  </p>
  <p>
    <%= f.label :equipment_date %><br />
    <%= f.date_select :equipment_date %>
  </p>
  <p>
    <%= f.label :security_cert_date %><br />
    <%= f.date_select :security_cert_date %>
  </p>
  <p>
    <%= f.label :int_load_line_cert_date %><br />
    <%= f.date_select :int_load_line_cert_date %>
  </p>
  <p>
    <%= f.label :oil_pollut_prevent_date %><br />
    <%= f.date_select :oil_pollut_prevent_date %>
  </p>
  <p>
    <%= f.label :tonnage_cert_issued_date %><br />
    <%= f.date_select :tonnage_cert_issued_date %>
  </p>
  <p>
    <%= f.label :sanitation_contr_exempt_date %><br />
    <%= f.date_select :sanitation_contr_exempt_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', vessels_path %>