<p>
  <b>Name:</b>
  <%=h @vessel.name %>
</p>

<p>
  <b>Flag:</b>
  <%=h @vessel.flag %>
</p>

<p>
  <b>Vesel type:</b>
  <%=h @vessel.vesel_type %>
</p>

<p>
  <b>Owner:</b>
  <%=h @vessel.owner_id %>
</p>

<p>
  <b>Loa:</b>
  <%=h @vessel.loa %>
</p>

<p>
  <b>Vessel length:</b>
  <%=h @vessel.vessel_length %>
</p>

<p>
  <b>Beam:</b>
  <%=h @vessel.beam %>
</p>

<p>
  <b>Dw:</b>
  <%=h @vessel.dw %>
</p>

<p>
  <b>Draft:</b>
  <%=h @vessel.draft %>
</p>

<p>
  <b>Gross tonnage:</b>
  <%=h @vessel.gross_tonnage %>
</p>

<p>
  <b>Net tonnage:</b>
  <%=h @vessel.net_tonnage %>
</p>

<p>
  <b>Cap1:</b>
  <%=h @vessel.cap1 %>
</p>

<p>
  <b>Paxcap:</b>
  <%=h @vessel.paxcap %>
</p>

<p>
  <b>Ice class:</b>
  <%=h @vessel.ice_class %>
</p>

<p>
  <b>Calls:</b>
  <%=h @vessel.calls %>
</p>

<p>
  <b>Contact info:</b>
  <%=h @vessel.contact_info %>
</p>

<p>
  <b>Max draft:</b>
  <%=h @vessel.max_draft %>
</p>

<p>
  <b>Safety cert date:</b>
  <%=h @vessel.safety_cert_date %>
</p>

<p>
  <b>Construction cert date:</b>
  <%=h @vessel.construction_cert_date %>
</p>

<p>
  <b>Equipment date:</b>
  <%=h @vessel.equipment_date %>
</p>

<p>
  <b>Security cert date:</b>
  <%=h @vessel.security_cert_date %>
</p>

<p>
  <b>Int load line cert date:</b>
  <%=h @vessel.int_load_line_cert_date %>
</p>

<p>
  <b>Oil pollut prevent date:</b>
  <%=h @vessel.oil_pollut_prevent_date %>
</p>

<p>
  <b>Tonnage cert issued date:</b>
  <%=h @vessel.tonnage_cert_issued_date %>
</p>

<p>
  <b>Sanitation contr exempt date:</b>
  <%=h @vessel.sanitation_contr_exempt_date %>
</p>


<%= link_to 'Edit', edit_vessel_path(@vessel) %> |
<%= link_to 'Back', vessels_path %>