<p>
  <b>Tarif calculation:</b>
  <%=h @tarif.tarif_calculation_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @tarif.name %>
</p>

<p>
  <b>Tarif value:</b>
  <%=h @tarif.tarif_value %>
</p>


<%= link_to 'Edit', edit_tarif_path(@tarif) %> |
<%= link_to 'Back', tarifs_path %>